@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }

  header {
    padding: 2.2rem 5rem;
  }
}

@media only screen and (max-width: 846px) {
  html {
    font-size: 50%;
  }

  #ham-menu {
    display: block;
    color: #645f5f;
  }

  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }

  nav ul {
    background: linear-gradient(to right, #4535aa, #ed639e);
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;

  }

  nav button {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }

  header {
    padding: 2rem 3rem;
  }

  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

@media (max-width:850px) {
  #home h1 {
    margin: 15% -34% 0% -31%;
    text-align: center;
  }

  #home p {

    max-width: 70%;
    margin: -4% 0% 0% 2%;

  }

  #home div img {
    display: none;
  }

}

@media (max-width:750px) {
  #home h1 {

    margin: 8% -83% 0% -81%;
    font-size: 5em;

  }

  #home p {
    max-width: 75%;
    margin: -9% 0% 0% 1%
  }



}

@media (max-width:990px) {
  #image-box img {
    height: 4lh;
    margin: -8% -5% 0% 6%;
  }
}

@media (max-width:850px) {
  #image-box img {
    height: 4lh;
    margin: -37% -26% 0% 29%;
  }
}

@media (max-width:428px) {
  #home h1 {

    margin: 16% -83% 0% -81%;
    font-size: 5em;

  }

  #home p {
    max-width: 75%;
    margin: -9% 0% 0% 1%
  }
}

@media (max-width:428px) {
  #image-box img {
    height: 4lh;
    margin: -37% -24% 0% 24%;
  }
}

@media (max-width:360px) {
  #home h1 {

    margin: 20% -83% 0% -81%;
    font-size: 3em;

  }

  #home p {
    font-size: 2em;
    max-width: 109%;
    margin: -43% 0% 0% 1%;
  }

  #image-box img {
    height: 4lh;
    margin: -60% -20% 47% 20%;
  }

  #services h1 {
    font-size: 3em;
    text-align: center;
    margin: -37% 0% 0% 0%;
    color: #6f6262d9;
  }
}

@media (max-width: 940px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card1 {
    padding: 16px;
    text-align: center;
    background-color: #fffdfd;
    height: 27lh;
    width: 57vw;
    border: 2px solid rgb(189, 186, 186);
    border-radius: 6px;
    margin: 0% 0% 0% 16%;
  }

  .busy {
    margin: -52% 0% 5% 20%;

  }

  .backgrou {
    margin: -53% 0% 0% 9%;
  }
}

@media (max-width: 1185px) {
  #about h1 {
    text-align: center;
    float: right;
    margin: 14% -1% 0% 0%;
    max-width: 56%;
    font-size: 3em;
  }
}

@media (max-width: 1085px) {
  #about h1 {
    text-align: center;
    float: right;
    margin: -45% -4% 0% 0%;
    max-width: 56%;
    font-size: 3em;
  }

  #about p {
    margin: -32% -4% 0% 0%;

  }
}

@media (max-width: 940px) {
  #about img {
    display: none;
  }

  #about h1 {
    margin: 8% 17% 0% 0%;
  }

  #about p {
    text-align: center;
    float: right;
    margin: 5% 7% 0% 0%;
    max-width: 77%;
    font-size: 2rem;
  }

  .blank {
    display: inherit;
    margin: 35% 4% 3% 90%;
    visibility: hidden;
  }
}

@media (max-width:580px) {
  .generate h1 {

    font-size: 3em;
  }

  .busy {
    font-size: 3rem;

  }

}

@media (max-width:630px) {
  .backgrou button {
    float: right;
    background: linear-gradient(to right, #8ae1df, #c57ddf);
    width: 20%;
    height: 53px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: -14% 8% 0% 0%;
    cursor: pointer;
  }
}

@media (max-width:350px) {
  .backgrou {
    background: linear-gradient(to right, #4535aa, #ed639e);
    width: 85vw;
    height: 27lh;
    justify-content: center;
    align-items: center;
    margin: -50% 0% 0% 9%;
    border-radius: 15px;
  }
}